<div class="container">
    <img class="img-movie-card" src="https://image.tmdb.org/t/p/w300{{poster_path}}" alt="{{title}}">
    <div class="wrapper">
        <p class="title">{{title}}</p>
        <ul class="list">
            <li class="list-item">
                <p>Vote / Votes</p>
                <span class="item-vote">{{vote_average}}</span> /
                <span class="item-votes">{{vote_count}}</span>
            </li>
            <li class="list-item">
                <p>Popularity</p>
                <span class="item-popularity">{{popularity}}</span>
            </li>
            <li class="list-item">
                <p>Original Title</p>
                <span class="item-original-title">{{original_title}}</span>
            </li>
            <li class="list-item">
                <p class="gender">Genre</p>
                {{#each genres}}
                <span class="item-genre">{{this.name}}|</span>
                {{/each}}
            </li>
        </ul>
        <p class="about">About</p>
        <p class="about-text">{{overview}}</p>
        <button class="button btn-to-watched js-watched" type="button">add to Watched</button>
        <button class="button btn-to-queue js-queue" type="button">add to queue</button>
    </div>
</div>