<object id="dec">
    <img src="../images/icons/arrow-left.svg">
</object>
        <a href="#" class="repos-pagination__link" id="first">{{1}}</a>
        <span class="repos-pagination__dots">...</span>
        <a href="#" class="repos-pagination__link">{{page}}-2</a>
        <a href="#" class="repos-pagination__link">{{page}}-1</a>
        <a href="#" class="repos-pagination__link">{{page}}</a>
        <a href="#" class="repos-pagination__link">{{page}}+1</a>
        <a href="#" class="repos-pagination__link">{{page}}+2</a>
        <span class="repos-pagination__dots">...</span>
        <a href="#" class="repos-pagination__link">20</a>
<object id="inc">
    <img src="./images/icons/arrow-left.svg">
</object>